version: 2

jobs:
  build:
    docker:
      - image: circleci/python:2.7.16
    working_directory: ~/repo
    steps:
      - checkout
      - run: mkdir -p my_workspace
      - run: echo "Hello World" > my_workspace/echo-output
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory
          root: my_workspace
          # Must be relative path from root
          paths:
            - echo-output

  test:
    docker:
      - image: circleci/python:2.7.16
    working_directory: ~/repo
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: my_workspace

      - run: cat my_workspace/echo-output

workflows:
  version: 2
  main-workflow:
    jobs:
      - build
      - test
